:root{
    --black: #000;
    --white: #fff;
}
* {
  margin: 0;
  padding: 0;
  list-style: none;
  vertical-align: baseline;
  box-sizing: border-box;
}

/* Basic styling to center the content */
body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
    margin: 0;
    background-color: #000;
  }
  h1{
    text-align: center;
    margin: 20px;
    color: white;
    text-shadow: 2px 2px 2px #000;
  }
  #quote-box {
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    text-align: center;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    width: 80%;
    max-width: 600px;
  }
  
  #text {
    font-size: 24px;
    font-weight: bold;
    color: #333;
  }
  
  #author {
    font-size: 18px;
    color: #555;
    margin-top: 10px;
  }
  
  #new-quote, #tweet-quote {
    padding: 10px 20px;
    margin-top: 20px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    text-decoration: none;
  }
  
  #new-quote {
    background-color: #000;
    color: white;
  }
  
  #tweet-quote {
    background-color: blue;
    color: white;
  }
  
  #new-quote:hover, #tweet-quote:hover {
    opacity: 0.9;
    color: yellow;
  }
  
  .buttons{
    display: flex;
    justify-content: space-between;
  }
  
  .footer {
    width: 450px;
    text-align: center;
    display: block;
    margin: 30px auto;
    font-size: 0.8em;
    color: #fff;
    cursor: pointer;
    text-shadow: 1px 1px 1px #000;
  }
  .footer a{
    font-weight: 500;
    text-decoration: none;
    color: #fff;
  }
  
  .footer a:hover{
    color: yellow;
  }